.about {
    width: 100%;
    height: 350px;
    background: #007991; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #007991, #78ffd6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #007991, #78ffd6);
    text-align: center;
    color: #FFFFFF;
    padding-top: 25px;

}

.about p {
    padding-top: 25px;
    margin-left: 30%;
    margin-right: 15%;
}


#img-face {
    max-width: 130px;
    position: absolute;
    top: 55%;
    left: 13%;
}




@media screen and (max-width: 678px){


    #img-face {
        top: 80%;
        left: 3%;

    }

    .about {
        height: 450px;

    }

    .about p {
        margin-left: 15%;
        margin-right: 7%;

    }

}
