@import url('https://fonts.googleapis.com/css?family=Rajdhani');


.valid {

    color: red;
    display: block;
    font-family: Rajdhani;
}








.form-section {
    margin: 0px;
    padding: 50px;
    background: lightblue;
    text-align: center;
}

.hr {

    width: 60%;
    padding-bottom: 20px;
    color: #5b86e5;
}

.section-heading {
    font-size: 3em;
    font-family: Rajdhani;
}

.visit-text {

    margin-left: 20%;
    margin-right: 20%;
    padding: 40px;
font-family: Rajdhani;
}

form {

    background-color: #22c8d8;
    padding: 50px;
}


.heading {

    margin: 0;
    font-family: 'Rajdhani';
    font-size: 2em;

}


form>button{
    padding-top: 10px;
    text-align: center;
    display: block;
    margin: 1em auto;
    padding: 1em 0em;
    width: 40%;
    color: #fff;
    text-decoration: none;
    background: #2ecc71;
border-color: #2ecc71;
    text-transform: uppercase;
    transition: 0.5s all;
    font-size: 1.2em;
}

form>button:hover{
    text-decoration: none;
    background: #3498db;
    border-color: #3498db;
    color: #fff;
}

form>button:focus{
    background: #3498db;
    border-color: #3498db;
}

.input {

    border: 0;
    background: rgb(6,164,240);
    color: white;
    padding: 10px 30px;
    outline: none;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /*text-transform: uppercase;*/
    letter-spacing: .05rem;
    font-size: 24px;
    width: 40%;
border-radius: 5px;

}




#email_validation, #name_validation {
    display:none;
}

label.required:after {
    content:'*';
    color:red;
}

/*span.error {*/
    /*background-color:#FFDFDF;*/
    /*color:red;*/
/*}*/
.row {
    margin:5px;
}






#popup{
    position: fixed;
    background: white;
    display: none;
    top: 25%;
    left: 33.5%;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-align: center;
}

#popup h1 {

font-family: 'Play', sans-serif;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#popup p {
padding-top: 60px;
    padding-bottom: 40px;
    color: black;
}

#close_popup {
    background: #54428E;
    color: #fff;
    border: none;
    border-radius: 5%;
    font: inherit;
    padding: 10px 18px;
    margin-top: 10px;
    float: right;
    width: auto;
    /*TRANSITION*/
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

#close_popup:hover {
    background: #765cc7;
}

@media screen and (max-width: 799px) {


    .holder {
         width: 100%;
        padding: 1em 0em;
    }


.form-section{
    padding: 50px 10px 50px 10px;
}



}