.form-section{
    margin: 0px;
    padding: 50px;
    background: lightblue;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

form {
    width: 90%;
    margin: 0 auto;
}

h1{
    color: #fff;
    font-size: 2em;
}

form>button{
    text-align: center;
    display: block;
    margin: 1em auto;
    padding: 1em 0em;
    width: 90%;
    color: #fff;
    text-decoration: none;
    background: #2ecc71;
border-color: #2ecc71;
    text-transform: uppercase;
    transition: 0.5s all;
    font-size: 1.2em;
}

form>button:hover{
    text-decoration: none;
    background: #3498db;
    border-color: #3498db;
    color: #fff;
}

form>button:focus{
    background: #3498db;
    border-color: #3498db;
}


.input-group {
    margin-bottom: 0.5em;
}

.holder {
    width: 80%;
    margin:  auto;
    background: rgba(52, 73, 94, 0.8);
    padding: 4em 0em;
    border-radius: 1em;
}


/*blog article*/

.aboutlink{
    color: #fff;
    font-size: 0.8em;
    display: block;
    text-align: center;
    transition: 0.8s all;
}

.aboutlink:hover{
    color: #2ecc71;
    text-decoration: none;
}