
@import url('https://fonts.googleapis.com/css?family=Strait');



.red{
    display: none;
height: 0;
}




#nav-title {
    position: fixed;
    top: 3px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
}
#nav-title > span {
    text-transform: none;
    opacity: .5;
    font-weight: 300;
    font-size: 12px;
}
.navbar-min input + label {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
}
.navbar-min input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .5s;
}
.navbar-min input + label span:first-child {
    top: 3px;
}
.navbar-min input + label span:last-child {
    top: 16px;
}
.navbar-min label:hover {
    cursor: pointer;
}
.navbar-min input:checked + label span {
    opacity: 0;
    top: 50%;
}
.navbar-min input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}
.navbar-min input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}
.navbar-min input ~ nav {
    background: #74AFAD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
}
.navbar-min input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;

}
.navbar-min input ~ nav > ul > li {
    list-style-type: none;
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}
.navbar-min input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
}
.navbar-min input:checked ~ nav {
    height: 98%;
    transition-delay: 0s;
}
.navbar-min input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s;
}


.navbar-min nav ul li:checked {
    height: 10%;
    transition-delay: 5s;
}



#burger {
    display: none;
}


@media screen and (min-width: 800px) {

    .navbar-min{
        display: none;
    }
}


.red
{
    background: #74AFAD;

    margin: 0 auto;
    padding: 2em 3em;
    text-align: right;
    display: block;
}

.red a
{
    color: black;
    text-decoration: none;
    font: 20px ruby;
    font-family: 'Strait';
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

 div.red a:before, .red a:after {

     position: absolute;
     left: 0px;
     width: 100%;
     height: 2px;
     background: #558C89;
     content: "";
     opacity: 0;
     transition: all 0.3s;
 }


div.red a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.red a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}



div.red a:hover:before, div.red a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}




























































































