

.offer, .fusion-fullwidth{

    height: 500px;
    padding: 20px;
    background: #22c8d8;
    background: -webkit-linear-gradient(135deg, coral, mediumvioletred);
    background: linear-gradient(-45deg, coral, mediumvioletred);
}