.sklills {
    width: 100%;
    background: #43c6ac; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43c6ac, #f8ffae);

    text-align: center;
    color: black;
padding-bottom: 20px;






}


.is-hidden {
    display: none;
}

.sklills h3, p {
    color: black;
}


.skill-img {
    max-width: 78px;
}

.skill-img2 {
    max-width: 110px;
}

.skill-img3 {
    max-width: 90px;
}

.skill-img4 {
    max-width: 170px;
}

.skill-img5 {
    max-width: 180px;
}

.skill-img6 {
    max-width: 60px;
}

.skill-img7 {
    max-width: 225px;
}



/*.content {*/
    /*display: none;*/

/*}*/










strong,
b {
    font-weight: 600
}

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
    /*font-weight: 300;*/
    /*line-height: 150%;*/
/*}*/

i.fa {
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*clearfixes*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.main-container {
    background: #fff;
    max-width: 1000px;
    margin: 25px auto 25px auto;
    position: relative;
}

.container {
    position: relative;
    padding: 25px;
}
/*animation element*/

.animation-element {
    opacity: 1;
    position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial {
    float: left;
    width: 47%;
    margin: 0% 1.5% 3% 1.5%;
    background: inherit;
    padding: 15px;
    /*box-shadow: 0px 1px 1px 0px steelblue;*/
    /*border: solid 1px #EAEAEA;*/
}
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active{

}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
    width: 48.5%;
    margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
    width: 48.5%;
    margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.testimonial .header{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.animation-element.slide-left.testimonial .left{
    float: left;
    margin-right: 15px;
}
.animation-element.slide-left.testimonial .right{
    float: left;
}

.animation-element.slide-left.testimonial img {
    /*max-width: 100px;*/

}

.animation-element.slide-left.testimonial h3 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial h4 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.testimonial .content {
    float: left;
    width:100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.testimonial .rating{}

.animation-element.slide-left.testimonial i {
    color: #aaa;
    margin-right: 5px;
}


.btn {
    border: 0;
    background: black;
    color: white;
    padding: 10px 30px;
    outline: none;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 24px;
}
.btn:hover {
    background: #2a2a2a;
}
.btn:active {
    background: black;
}






/*media queries for small devices*/
@media screen and (max-width: 678px){
    /*testimonials*/
    .animation-element.slide-left.testimonial,
    .animation-element.slide-left.testimonial:nth-of-type(odd),
    .animation-element.slide-left.testimonial:nth-of-type(even){
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .animation-element.slide-left.testimonial .right,
    .animation-element.slide-left.testimonial .left,
    .animation-element.slide-left.testimonial .content,
    .animation-element.slide-left.testimonial .rating{
        text-align: center;
        float: none;
    }
    .animation-element.slide-left.testimonial img{
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }

}




