html,body{
    width:100%;
    height:100%;
    background: #ffffff;;
}

body {

    width: 100%;

}

/* remove canvas default margin */
canvas{
    display:block;
    vertical-align:bottom;
}



#particles-js{
    width:100%;
    height:500px;
    background-color: #006DAC;
}

#blah{
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: 35%;
    color: #FFF;
    font-family: teko;
    font-weight: 400;
    text-shadow: 5px 5px #5F6D72;
    text-transform: uppercase;
}

#img-logo{
    max-width: 300px;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 40%;
    color: #FFF;
    font-family: teko;
    font-weight: 400;
    text-shadow: 5px 5px #5F6D72;
    text-transform: uppercase;
}



.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg");

    max-height: 300px;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}













.footer {

    background: white;
    padding: 10px 25px;
    text-align: center;
}
.footer-tag {
    font-family: 'Play', sans-serif;
    margin-top: 2em;
    font-size: small;
}
.person-link {
    text-decoration: none;
    color: black;
}

.person-link:hover {
    text-decoration: none;
    color: black;
}

.person-link:focus {

    text-decoration: none;
    color: black;
}






