html,body{
    width:100%;
    height:100%;
    background: #ffffff;;
}

body {

    width: 100%;

}

/* remove canvas default margin */
canvas{
    display:block;
    vertical-align:bottom;
}

#img-face {
    max-width: 100px;
    position: absolute;
    top: 30%;
    left: 25%;
}


#particles-js{
    width:100%;
    height:500px;
    background-color: #006DAC;
}

#blah{
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: 35%;
    color: #FFF;
    font-family: teko;
    font-weight: 400;
    text-shadow: 5px 5px #5F6D72;
    text-transform: uppercase;
}











